  <div class='top'>
    <p id='title'> <%= @movie_title %> </p>
    <p 'year'> Year : <%= @movie_year %> </p>
</div>

<div class='container'>

  <div class='image'>
    <img id 'poster' src= <%= @movie_poster %> >
  </div>

  <div class='sidebar'>
    <ul>

    <li> <b>Actors :</b>  <%= @movie_actors %> </li>
    <li> <b>Imbd Ratig :</b> <%= @movie_imbd_rating %> </li>
    <li> <b>Plot :</b> <%= @movie_plot %> </li>

   </div>
